body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: var(#CACACA);
    background-color: var(#08020D);
}

h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase;
}

h2 {
    font-size: 38px;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase;
}

